.tableContainer {
    width: 100%;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
  }
  
  thead {
    background-color: #e8def8;
    position: sticky;
  }
  
  th {
    padding: 12px;
    text-align: left;
    font-weight: 600;
    color: #000000;
  
  }
  
  th.left{
    border-radius: 8px 0px 0px 0px;
  }
  
  th.right{
    border-radius: 0px 8px 0px 0px;
  }
  
  td {
    padding: 10px;
    font-size: 1rem;
    color: #000000;
  }
  
  tr:hover {
    background: var(--Schemes-Secondary-Container, #dcdcdc);
  }
  tr:focus-visible { /* Focus only for keyboard navigation */
    outline: none; /* Disable outline to avoid affecting dimensions */
    box-shadow: inset 0 0 0 3px #CEB6F5; /* Create an inner border using box-shadow */
  }
  
  .row {
    border-bottom: 1px solid #dcdcdc;
    transition: background-color 0.3s, box-shadow 0.1s ease;
  }
  
  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 4px;
    background-color: #242323;
  }
  
  .letter {
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
  }