.outPassNav {
  background-color: #f7f2fa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    /* overflow: hidden; */
    width: -moz-fit-content;
    width: 20rem;
    min-width: fit-content;
}


.outPassHeader {
  display: flex;
  flex-direction: column; /* Stack NavItems vertically */
  overflow-y: auto; /* Add vertical scrolling for content overflow */
  scrollbar-width: thin; /* Thin scrollbar for modern browsers */
  padding: 12px;
  width: 100%; /* Ensure it matches the navbar width */
}

.outPassHeader::-webkit-scrollbar {
  width: 6px; /* Vertical scrollbar width */
}

.outPassHeader::-webkit-scrollbar-thumb {
  background-color: #cac4d0;
  border-radius: 3px;
}

.outPassFooter {
  background-color: #f7f2fa;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 14px;
  gap: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}


  /* .sectionHeader {
    display: flex;
    height: fit-content;
    width: 100%;
    align-items: center;
    color: #49454f;
    letter-spacing: 0.1px;
    font: 600 14px/1 Roboto, sans-serif;
  } */
  
  .headerContent {
    border-radius: 100px;
    display: flex;
    width: 336px;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    padding: 14px 16px;
  }

  .headerTitle {
    margin: auto 0;
  }

  .dividerLine {
    height: 1px;
    background-color: #cac4d0;
    width: 100%;
    padding: 0.75px;
    border: none;
    margin: 0;
  } 


  