.navItem {
    border-radius: 4px;
    background-color: rgba(247, 242, 250, 1); /* Default background */
    color: rgba(29, 25, 43, 1); /* Default text color */
    display: flex;
    gap: 0.75rem; /* Vertically align content */
    justify-content: flex-start; /* Align content to the left */
    gap: 12px; /* Space between icon and label */
    width: 100%; /* Full width of the navbar */
    font: 600 14px/1 Roboto, sans-serif; /* Font styling */
    cursor: pointer;
    align-self: stretch;
    transition: background-color 0.3s, outline 0.1s, box-shadow 0.1s; /* Smooth transitions */
}


.navItem:hover {
    background-color: #e0e0e0; /* Background on hover */
}

.navItem:focus-visible { /* Focus styling for keyboard navigation */
    outline: none;
    box-shadow: inset 0 0 0 3px #ceb6f5; /* Inner border for focus */
}

.navItem.active {
    background-color: #e8def8; /* Background when active */
}

.stateLayer {
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1; /* Allow flexible alignment */
    padding: 12px 12px 12px 3px ;
}

.icon {
    width: 24px; /* Icon size */
    aspect-ratio: 1; /* Keep icon square */
    object-fit: contain; /* Ensure the image fits nicely */
}

.label {
    flex: 1; /* Take remaining space */
    text-align: left; /* Align text to the left */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Clip overflowing text */
    text-overflow: ellipsis; /* Add ellipsis for overflow */
}


.badgeLabel {
    border-radius: 0;
    align-self: stretch;
    white-space: nowrap;
    text-align: right;
    width: 8px;
    margin: auto 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

